
  <nav class="flex items-center bg-gray-800 p-2 flex-wrap">
  <li><%= link_to 'The Dummy Project', root_path, class: "text-xl text-white font-bold uppercase tracking-wide" %></li>
  
    <button
      class="text-white inline-flex p-3 hover:bg-gray-900 rounded lg:hidden ml-auto hover:text-white outline-none nav-toggler"
      data-target="#navigation"
    >
      <i class="material-icons">menu</i>
    </button>
    <div
      class="hidden top-navbar w-full lg:inline-flex lg:flex-grow lg:w-auto"
      id="navigation"
    >
      <div
        class="lg:inline-flex lg:flex-row lg:ml-auto lg:w-auto w-full lg:items-center items-start flex flex-col lg:h-auto"
      >

      <%= link_to "Pages", pages_path, class:"lg:inline-flex lg:w-auto w-full px-3 py-2 rounded text-gray-400 items-center justify-center hover:bg-gray-900 hover:text-white" %>
   
      <% if !current_user.guest? %>
        <%= link_to "Profile", edit_user_registration_path, class:"lg:inline-flex lg:w-auto w-full px-3 py-2 rounded text-gray-400 items-center justify-center hover:bg-gray-900 hover:text-white" %>
      <% end %>
      <%= link_to "Dummy", root_path, class:"lg:inline-flex lg:w-auto w-full px-3 py-2 rounded text-gray-400 items-center justify-center hover:bg-gray-900 hover:text-white" %>
      <%= link_to "Dummy", root_path, class:"lg:inline-flex lg:w-auto w-full px-3 py-2 rounded text-gray-400 items-center justify-center hover:bg-gray-900 hover:text-white" %>
     
      <% if !current_user.guest? %>
        <%= link_to "Sign out", destroy_user_session_path, data: { turbo_method: :delete }, class:"lg:inline-flex lg:w-auto w-full px-3 py-2 rounded text-gray-400 items-center justify-center hover:bg-gray-900 hover:text-white" %>
      <% else %>
        <%= link_to "Login", new_user_session_path, data: { turbo_frame: 'modal' }, class: "lg:inline-flex lg:w-auto w-full px-3 py-2 rounded text-gray-400 items-center justify-center hover:bg-gray-900 hover:text-white" %>
      <% end %>
      </div>
    </div>
  </nav>

  
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
    crossorigin="anonymous">
  </script>

  
  
