<!DOCTYPE html>
<html>
  <head>
  <%= render "shared/head" %>  
  </head>

  <body>
  <% unless controller_name == "pages"  && action_name == "show" %>
   <%= render 'shared/navbar' %>
   <% end %>
   <% if not devise_controller? %>
   <%= render 'shared/flash' %>
   <% end %>
    <%= yield %>
   <%= turbo_frame_tag "modal" %>
  </body>
</html>
